.entryleft{
	position:absolute;
	width:49%;
	height:150px;
	background-color:#666666;
	left:0px;
}

.entryright{
	position:absolute;
	width:49%;
	height:150px;
	background-color:#666666;
	right:0px;
}

.entryImg{
	position:absolute;
	width:130px;
	top:10px;
	left:10px;
}

.entryTitle{
	position:absolute;
	color:#FFFFFF;
	font-size:35px;
	width:75%;
	right:0px;
	text-align:center;
	top:5px;
}

.entryCount{
	position:absolute;
	color:#FFFFFF;
	font-size:45px;
	width:75%;
	right:0px;
	text-align:center;
	bottom:10px;
}

#searchIcon{
	position:fixed;
	right:10px;
	height:100px;
	bottom:10px;
}

#searchBar{
	position:fixed;
	bottom:20px;
	width:55%;
	height:80px;
	right:120px;
	font-size:40px;
}