#newOrderBox{
	position:absolute;
	width:100%;
	background-color:#666666;
	height:110px;
	top:140px;
}

#newSelect{
	position:absolute;
	left:5px;
	height:100px;
	top:5px;
	width:49%;
	font-size:40px;
}

#newText{
	position:absolute;
	left:50%;
	height:100px;
	top:5px;
	font-size:40px;
	width:15%;
}

#newButton{
	position:absolute;
	height:100px;
	right:15px;
	width:32%;
	top:5px;
	font-size:40px;
}

#manageBox{
	position:absolute;
	width:100%;
	background-color:#666666;
	height:110px;
	top:260px;
}

#manageButton{
	position:absolute;
	width:94%;
	height:80%;
	left:3%;
	top:10%;
	font-size:40px;
}

#orders{
	position:absolute;
	top:400px;
	color:#FFFFFF;
	font-size:60px;
	width:100%;
	text-align:center;
}

.orderBox{
	position:absolute;
	width:100%;
	background-color:#666666;
	height:140px;
}

.orderTitle{
	position:absolute;
	top:10px;
	left:15px;
	color:#FFFFFF;
	font-size:40px;
}

.orderCount{
	position:absolute;
	bottom:10px;
	color:#FFFFFF;
	left:15px;
	font-size:46px;
}

.orderStatus{
	position:absolute;
	color:#FFFFFF;
	width:48%;
	right:1%;
	top:1%;
	text-align:center;
	font-size:36px;
}

.orderCancel{
	position:absolute;
	width:48%;
	right:1%;
	height:40%;
	bottom:5%;
	font-size:40px;
}